[Unit]
Description=Ollie Robot State & URDF Publisher
After=network.target

[Service]
Type=simple
User=<your_username>
Environment="ROS_DOMAIN_ID=<ros_domain_id>"
# 透過 bash -c 串聯環境變數 source 與啟動指令
ExecStart=/bin/bash -c "source /opt/ros/jazzy/setup.bash && source /home/<your_username>/workspace/AMROllie/host_2404/ros2_ws/install/setup.bash && ros2 launch ollie_description ollie_visual.launch.py"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target