[Unit]
Description=Ollie Active Watchdog Service
After=network.target ollie_microros.service

[Service]
Type=oneshot
# 注意：此處需填寫您機器上的絕對路徑
ExecStart=/bin/bash /home/<your_username>/workspace/AMROllie/host/systemd/ollie_watchdog.sh
User=root

[Install]
WantedBy=multi-user.target
