[Unit]
Description=Ollie Python Watchdog Node
After=ollie_microros.service
Wants=ollie_microros.service

[Service]
Type=simple
User=root
Environment="ROS_DOMAIN_ID=30"
Environment="PYTHONUNBUFFERED=1"
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash && /home/<your_username>/workspace/AMROllie/host/systemd/ollie_watchdog_node.py"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
